version: "3.8"
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: nnpda-sem-a
      POSTGRES_USER: nnpda
      POSTGRES_PASSWORD: nnpda
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
  es01:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.1.5
    container_name: es01
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - http.cors.enabled=true #povolení cors
      - http.cors.allow-origin="*"
      - http.cors.allow-methods="OPTIONS,HEAD,GET,POST"
      - http.cors.allow-headers="X-Requested-With,Content-Type,Content-Length"
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata01:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:9.1.5
    container_name: kibana
    depends_on:
      - es01
    environment:
      - ELASTICSEARCH_HOSTS=http://es01:9200      # http, bez TLS
    ports:
      - "5601:5601"
    volumes:
      - kibanadata:/usr/share/kibana/data

  logstash:
    image: docker.elastic.co/logstash/logstash:9.1.5
    container_name: logstash
    depends_on:
      - es01
      - db
    user: "1000:1000"                             # ne-root, jinak spadne
    environment:
      - LS_JAVA_OPTS=-Xms512m -Xmx512m
      # proměnné pro JDBC (ať to nemusíš psát do confu)
      - PG_HOST=db
      - PG_DB=nnpda-sem-a
      - PG_USER=nnpda
      - PG_PASSWORD=nnpda
    volumes:
      - ./logstash/pipeline:/usr/share/logstash/pipeline:ro
      - ./logstash/config/logstash.yml:/usr/share/logstash/config/logstash.yml
      - ./logstash/jars:/usr/share/logstash/vendor/jar/jdbc:ro
    ports:
      - "5044:5044"   # kdybys časem chtěl beats input

volumes:
  esdata01:
  kibanadata:
  pgdata: